:root {
  --heavy-text: 600;
  --med-light-text: 300;
  --border-color: #999999;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.wraper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
}

.search input[type=text] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  font-weight: 1.2em;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.search input[type=text]::before {
  content: '\f002';
}

.groceryList {
  min-height: 100%;
  padding: 10px 15px 30px 15px;
}

.category {
  margin: 10px 0 35px 0;
}

.category > h3 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 300;
}

.itemRow {
  width: 100%;
  margin: 5px 0;
  padding: 4px 3px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.item > div {
  display: inline-block;
}

.itemTextDiv {
  flex: 1;
  overflow: hidden;
}

.itemTextDiv > div > h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: var(--heavy-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quantity, .activeIndicator {
  flex: initial;
}

.quantity {
  margin: 0 8px 0 24px;
  font-size: 1.4rem;
  font-weight: var(--med-light-text);
}

.itemForm {
  transition: visibility 0s, opacity 0.5s linear;
}

.itemEditor {
  margin: 20px 10%;
  font-weight: var(--heavy-text);
}

.itemEditor div {
  margin: 4px 0;
}

.itemEditor label {
  display: inline-block;
  min-width: 30%;
  text-align: right;
  margin: 0 5% 0 0;
}

.itemEditor input {
  width: 65%;
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

/* 
 *  Check box
 */

.activeIndicator {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 10px 0 0;
  border: 2px solid black;
  border-radius: 5px;
}

.check > input {
  display: none;
}

.check > .box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.check > .box:after {
  content: '';
}

.check > input:checked + .box:after {
  font-family: FontAwesome;
  content: '\f00c';
}

/* 
 *  Footer
 */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: .75rem;
  padding: 8px 0;
}
