:root {
  --heavy-text: 600;
  --med-light-text: 300;
  --border-color: #999999;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.wraper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
}

/* 
 *  Footer
 */

 .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: .75rem;
  padding: 8px 0;
}

/* Login */

input {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px 10px;
}

.login {
  margin: 30px 10%;
}

.standardInput {
  margin: 0 0 30px 0;
}

.standardInput div {
  margin: 0 0 20px 0;
}

.standardInput label {
  display: block;
}

.standardInput input {
  width: 100%;
}

.loginButton {
  margin: 10px 0 0 0;
  width: 100%;
}

.loginButton input {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 1.4rem;
  border: 0px;
  background-color: blue;
  color: white;
}

.create {
  margin: 0;
  text-align: center;
}

.oauth input {
  width: 8rem;
  margin: 5px 0;
  display: block;
  font-size: 1.1rem;
  background-color: white;
}
